.footer {
    border-top: 1px solid rgba(0, 0, 0, 0.05) !important;
    padding-top: 15px;
    padding-bottom: 12px;
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.44);
    margin-top: 50px;
  }
  .footer-brand img{
    max-height: 50px;
    margin-right: 5px;
  }
  
  .foot_ul ul li{
    padding-bottom: 5px;
  }
  .foot_ul ul li a {
    color: black;
    
  }